.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Zentriert es vertikal im Sichtfeld */
}

.title {
  padding: 2em;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.gridPost{
  margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.titelposts{
  text-align: left;
}